<!--index file to display either recently scrapped articles or instructions to scrape for latests-->

<!-- NAVIGATION-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <a class="navbar-brand" href="#">Aljazeera Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clear">Clear Articles</a>
      </li>
    </ul>
  </div>
</nav>
<!--END NAVIGATION-->


<!--JUMBOTRON W/ BACKGROUND IMAGE-->
<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Aljazeera News Scraper</strong></h2>
      <p class="mx-5 mb-5">Scrape for the latest articles on aljazeera.com and save them for later or just add comments
      </p>
      <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left scrape"></i> Get the latest Articles</a>
    </div>
  </div>
</div>
<!--END JUMBOTRON W/ BACKGROUND IMAGE-->


<!--ARTICLES CONTAINER-->

<!--END ARTICLES CONTAINER-->

<!--FOOTER-->

<!--END FOOTER-->