<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Aljazeera Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/scrape">scrape new articles</a>
    </div>
  </div>
</nav>
<!--End Navbar-->

<!--Jumbotron Section-->
<div class="jumbotron  text-center">
  <div class="overlay"><!--adds the darker overlay to the jumbotron-->
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>ALJAZEERA SCRAPER</h1>
    <p>Catch up on World News the easy way</p>
  </div>
</div>
<!--End Jumbotron Section-->

<!--Article Container-->
<div class="container-fluid articles-container">
  <h2>Latest Articles From Aljazeera</h2>
  <div id="scrape-results"></div>
</div>
<!--End Article Container-->

<!--Footer-->
<footer class="footer">
  <div class="container">
    <p>ALJAZEERA SCRAPEER</p>
  </div>
</footer>
<!--End Footer-->

<script src="assets/js/index.js"></script>



